
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Gloria+Hallelujah&family=Indie+Flower&family=Kalam:wght@300&family=Quicksand:wght@300&display=swap');

:root {
  --button-color: #2563eb;
  --lght-gray: rgb(226, 226, 226);
  --dark-gray: rgb(198, 198, 198);
}

/* 

rgb(255, 82, 82);
#011e29
*/

* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: rgb(255, 255, 255);
}

#slack {
  display: none;
}

.profile-pic img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 5px solid var(--lght-gray);
  margin: 10px;
}

.profile-card {
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: bold;
}

.links-btns {
  margin: 20px 7rem;
}

.link-btn {
  text-decoration: none;
  margin: 10px;
  padding: 25px;
  background-color: var(--lght-gray);
  border-radius: 10px;
  transition: 0.3s;
}

.link-btn:hover {
  background-color: var(--dark-gray);
}

a {
  color: black;
  text-decoration: none;
}

        /* CONTACT PAGE  */

        .contact-form {
          margin-top: 1rem;
          margin-bottom: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: left;
       }

       label {
        text-align: left;
        font-weight: bold;
       }

      .input-fields input, input[type="email"] {
        margin: 10px;
        width: 98%;
      }

      .login-title {
        margin-bottom: 40px;
      }

      .name-field {
        display: inline;
      }

      .name-field input{
        width: 90%;
      }
       

      
        input {
           padding: 7px 7px 7px 10px;
           border-radius: .3em; 
       }
       
       .input-fields input:focus {
           box-shadow: 0 0 2px 2px black;
       }
       
       
       #submit{
           padding: .3em 1em;
           font-size: 1.2em;
           font-weight: lighter;
           color: white;
           border: none;
           background-color: var(--button-color);
           border-radius: .25em;
           outline: none;
           cursor: pointer;
           width: 100%;
       }

       #submit:hover,
       #submit:focus{
           background-color: rgba(8, 36, 70, 0.916);
       } 

    
       textarea {
        resize: none;
        height: 200px;
        width: 100%;
        border-radius: 10px;
       }

       .email {
        margin: 20px 0;
       }

       input, textarea {
        outline: none;
        border: 1px solid gray;
       }

       /* FOOTER  */
.footer {
  bottom: 0;
  left: 0;
  display: inline;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  margin-top: 20px;
  position: relative;
}

#ifg {
  width: 138px;
  height: 36px;
  float: right;
  bottom: 0;
}

#zuri {
  float: left;
  width: 150px;
  height: 34px;
}

.hng {
  display: inline;
}

      

     